
<!DOCTYPE html>
<html>
    <head>
        <title>Random Frogs</title>
    </head>

    <body>
        <center>
            <br>
            <h2>Fox Count: 10</h2>
            <a target="_blank" href="https://github.com/imvickykumar999/Random-Frog">
                <br>
                Add more frogs!
            </a>

            <br><br><br>
            <a target="_blank" href="/static/{{num}}.jpg">
                <img src="/static/{{num}}.jpg" 
                width="50%"
                alt="{{num}}.jpg">
            </a>
        </center>
    </body>
</html>