
<!DOCTYPE html>
<html>
    <head>
        <title>Random Frogs</title>
    </head>

    <body>
        <center>
            <br>
            <h2>Fox Count: 10</h2>
            <a target="_blank" href="https://github.com/imvickykumar999/Random-Frog">
                <h3>Add more frogs!</h3>
            </a>

            <br>
            API is Available:
            <a target="_blank" href="/random">
                /random
            </a>

            <br><br><br>
            <a target="_blank" href="/?i={{num}}">
                <img src="static/{{num}}.jpg" 
                width="40%"
                alt="{{num}}.jpg">
            </a>

            <br><br>
            <a href="/">Refresh</a>
        </center>
    </body>
</html>